
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adiciona</title>
</head>
<body>
    <h2>Produto adicionado com sucesso!</h2>
</body>
</html>
